h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.waiting {
  background-color: #ffedd5;
}

.in-progress {
  background-color: #dbeafe;
}

.completed {
  background-color: #dcfce7;
}

.ml-1 {
  margin-left: 10px;
}
